<nav class="navbar navbar-inverse" style="background:#337ab7;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"  style="color:white" href="">Angular 7 SPA</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#" style="color:white">Home</a></li>
      
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="color:white"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"style="color:white"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav> 


  <router-outlet></router-outlet> 


