
<div class="container">
<input  type="button" class="btn btn-primary" (click)="ClearValues()" data-toggle="modal" data-target="#myModal" value="Create New">

<hr>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Sr No</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col" style="align-content: center">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col">1</td>
            <td scope="col">Mangesh</td>
            <td scope="col">Gaherwar</td>
            <td scope="col">Mangesh.g@intelgain.com</td>
            <td scope="col">
                <button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#myModaledit">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                  </button>
                  |
                  <button type="button" class="btn btn-default btn-danger" (click)="deleteconfirmation()">
                      <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>

             </td>
          </tr>
    </tbody>
  </table>

  <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-primary">Employee Add</h4>
          </div>
          <div class="modal-body">
           <app-employee-add [objemp]=""></app-employee-add>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>

    <div id="myModaledit" class="modal fade" role="dialog">
        <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit</h4>
            </div>
            <div class="modal-body">
             <app-employeeupdate cleardata="ajkaja"></app-employeeupdate>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>
  